@model personapi_dotnet.Models.Telefono

@{
    ViewData["Title"] = "Crear Telefono";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Numero" class="form-label"></label>
        <input asp-for="Numero" class="form-control" />
        <span asp-validation-for="Numero" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Tipo" class="form-label"></label>
        <input asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PersonaId" class="form-label"></label>
        <input asp-for="PersonaId" class="form-control" />
        <span asp-validation-for="PersonaId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>