@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg" asp-controller="Estudio" asp-action="Index">Ir a Estudios</a>
        <a class="btn btn-secondary btn-lg" asp-controller="Personas" asp-action="Index">Ir a Personas</a>
        <a class="btn btn-success btn-lg" asp-controller="Profesion" asp-action="Index">Ir a Profesiones</a>
        <a class="btn btn-info btn-lg" asp-controller="Telefono" asp-action="Index">Ir a Teléfonos</a>
    </div>
</div>
